:host {
    display: flex;
    height: 30px;
    width: 100%;

    .hidden {
        visibility: hidden;
    }

    .qty {
        width: 50px;
        margin-left: auto;
    }

    .editable {
        .qty:hover {
            background-color: #eaeaea;
        }
    }
}