<div class="cell" style="width: 330px;">

    <sb-m2o-select
            [entity]="'sale\\customer\\AgeRange'"
            [id]="instance.age_range_id"
            [placeholder]="'Commencez à taper le nom'"
            [noResult]="'rien trouvé'"
            [required]="true"
            [disabled]="instance?.age_range_id > 0"
            (itemSelected)="onupdateAgeRange($event)">
        Tranche d'âge
    </sb-m2o-select>

</div>

<div class="cell">
    <mat-form-field style="max-width: 100px;">
        <mat-label>Quantité</mat-label>
        <input type="number" min="1" matInput (blur)="onupdateQty()" [formControl]="qtyFormControl">
        <mat-error *ngIf="qtyFormControl.hasError('valid')">
            Quantité incompatible.
        </mat-error>
        <mat-error *ngIf="qtyFormControl.hasError('required')">
            Ne peut être vide.
        </mat-error>
    </mat-form-field>
</div>
