<div class="container">
    <div class="planning-header">
        <a *ngIf="app_logo_url.length" style="height: 55px;" href="/apps"><img class="navbar-brand-full" src="{{app_logo_url}}" /></a>
        <div style="margin-left: 20px;">Calendrier</div>
        <button mat-icon-button (click)="onclickOpenLegendDialog()"><mat-icon>info</mat-icon></button>
        <button mat-icon-button (click)="onclickOpenPrefsDialog()"><mat-icon>settings</mat-icon></button>
        <button mat-icon-button (click)="onFullScreen()" style="margin-left: auto; transform: scale(0.8);">
            <mat-icon>open_in_full</mat-icon>
        </button>
    </div>
    <div class="planning-body" #planningBody [class.fullscreen]="fullscreen" >
        <div class="calendar-wrapper">
            <planning-calendar
                #planningCalendar
                [rowsHeight]="rowsHeight"
                (showBooking)="onShowBooking($event)"
                (showRentalUnit)="onShowRentalUnit($event)"></planning-calendar>
        </div>
    </div>

</div>